@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('img/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background:  url('img/frame-iphone.png')no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 472px;
    /* border-radius: 2px; */
}
section#redes-social{
    /* display: flex; */
    /* flex-direction: column; */
    text-align: right;
    
    /* padding-top: 200px; */
}

section#redes-social img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;    
}

section#redes-social img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    box-shadow: 5px 5px 10px black;
    transform: translate(-3px, -3px);
    transition: transform 0.3s, border .5s ;
    
    
}

a{
    width: 100%;
    height: ;
}